* {
    box-sizing: border-box;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
 
.top{
    margin: 0;
    padding: 10px;
    height: 10%;
    width: 100%;
    background-color: darkgreen;

    top: 0;
    right:0;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width:768px) {
    .col-1 {width: 12.5%;}
    .col-2 {width: 25%;}
    .col-3 {width: 37.5%;}
    .col-4 {width: 50%;}
    .col-5 {width: 52.5%;}
    .col-6 {width: 75%;}
    .col-7 {width: 87.5%;}
    .col-8 {width: 100%;}
    .top{position: sticky;}
}
  

.bottom{
    margin: 0%;
    padding-left: 10px;
    height: 17%;
    width: 100%;
    background-color:darkgray;
    color:darkgreen;

    position: sticky;
    bottom: 0;
    left: 0;
}
.login{
    text-align: right;
    padding: 10px;
}
fieldset{
   height: 50%;
}
label{
    display:block;
}
#agb{
    display: inline;
}
.background{
    background-image: url('images/vineyard.jpg');
}